* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0 50px;
}

.container {
    min-width: 576px;
    display: flex;
    gap: 50px;
    padding: 2rem;
    border-radius: 1rem;
    background-color:  #0066ff;
    color: #fff;
   
}

#input {
    border: 2px solid #3366ff;
}

#posts {
    width: 400px;
}

#posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    gap: 25px;
}

#msg {
    color: red;
}

i {
    cursor: pointer;
}

button {
    width: 5rem;
    height: 2.5rem;
    border-radius: 4rem;
    background-color: #fff;
    color: #3366ff;
    border: none;
    transition: all .5s ease-in-out;
}

button:hover {
    color: #fff;
    background-color: #024;
}